# .github/workflows/deploy.yml

name: Deploy AWS Cloud Resume

on:
    push:
        branches: ["main"]

permissions:
    id-token: write
    contents: read

jobs:
    deploy-infrastructure:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Configure AWS Credentials (OIDC)
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  # Make sure this is your correct Role ARN
                  role-to-assume: arn:aws:iam::984649215898:role/GitHubActions-AdminRole
                  aws-region: us-east-1

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3

            - name: Terraform Init
              run: terraform init

            - name: Terraform Validate
              run: terraform validate

            - name: Terraform Apply
              run: terraform apply -auto-approve

            # --- NEW STEP ADDED BELOW ---

            - name: Upload website files to S3
              run: |
                  aws s3 sync . s3://resume.chigoziennadi.com \
                    --exclude ".git/*" \
                    --exclude ".github/*" \
                    --exclude "main.tf" \
                    --exclude ".terraform/*" \
                    --exclude ".terraform.lock.hcl" \
                    --delete
